<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="navbar-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero-section">
        <h1>Welcome to my portfolio</h1>
        <p>Welcome people from all around the world. I hope you enjoy the navigation through my site!</p>
    </div>

    <footer class="footer">
        <address>St.Paul's Bay, Malta</address>
        <ul class="footer-ul">
            <li><a href="https://www.linkedin.com/in/alejandro-cazorla-454543179/" target="_BLANK">Linkedin</a></li>
            <li><a href="https://github.com/alecos008" target="_BLANK">Github</a></li>
        </ul>
    </footer>
</body>
</html>