<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My work</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="navbar-ul">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/works">Works</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero-section">
        <h1 id="works-heading"><span class="white-heading">My Works</span></h1>
        <div class="works">
            <article>
                <h2>Kamikaze Racing</h2>
                <img src="/images/logo.png" alt="Game Splash Screen" width="500">
                <p>Kamikaze Racing is a 2D JavaScript game that consist on avoid the incoming bikers and see how far you can get. The game finishes when you crash.</p>
                <a class="btn-link" href="https://kamikazeracing.netlify.app/" target="_BLANK">Ready to try it!?</a>
            </article>
            <article>
                <h2>Spotify Clone</h2>
                <a href="https://alejandro-spotify-clone.netlify.app/" target="_BLANK"><img src="/images/landing.png" alt="Spotify Clone Image" width="500"></a>
            </article>
        </div>
    </div>
    <footer class="footer">
        <address>St.Paul's Bay, Malta</address>
        <ul class="footer-ul">
            <li><a href="https://www.linkedin.com/in/alejandro-cazorla-454543179/" target="_BLANK">Linkedin</a></li>
            <li><a href="https://github.com/alecos008" target="_BLANK">Github</a></li>
        </ul>
    </footer>
</body>
</html>