* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 10vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
}
.navbar-ul {
   display: flex;
   flex-direction: row;
   column-gap: 7vw;
   list-style-type: none;
}
.navbar {
    margin: 0 auto;
}
li > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.hero-section {
    background-color: rgba(132, 88, 179, 1);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section > p {
    padding-top: 5vh;
    font-size: 20px;
}
.footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-ul {
    display: flex;
    flex-direction: row;
    column-gap: 7vw;
    list-style-type: none;
}
address {
    color: white;
    margin-right: 70vw;
}
.white-heading {
    color: white;
}
article {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2 {
    margin: 0 auto;
}
article > a {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10%;
    padding: 10px;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    color: black;
    background-color: white;
}
article > h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}
article > p {
    padding-top: 10px;
}
.works {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
}
#works-heading {
    padding-bottom: 70px;
}
li > a:hover {
    border-bottom: 2px solid rgba(132, 88, 179, 1);
}
.btn-link:hover {
    border: 3px solid black;
}
a > img:hover {
    transform: scale(1.1);
}